<div id="left-sidebar" class="sidebar ">
  <h5 class="brand-name">
    Epic HR
    <!--<a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a>-->
  </h5>
  <nav id="left-sidebar-nav" class="sidebar-nav">
    <ul class="metismenu">
      <li class="g_heading">Directories</li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" aria-expanded="true" class="has-arrow arrow-c"><i
            class="icon-rocket"></i><span>HRMS</span></a>
        <ul id="hrms-ul">
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/dashboard"><span>Dashboard</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/users"><span>Users</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/department"><span>Departments</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/employee"><span>Employee</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/activity"><span>Activities</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/holiday"><span>Holidays</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/events"><span>Events</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/payroll"><span>Payroll</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/account"><span>Accounts</span></a></li>
          <li class="open-hrms" routerLinkActive="active"><a routerLink="/report"><span>Report</span></a></li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" aria-expanded="true" class="has-arrow arrow-c"><i
            class="icon-cup"></i><span>Project</span></a>
        <ul id="project-ul">
          <li class="open-project" routerLinkActive="active"><a routerLink="/project-dashboard">Dashboard</a></li>
          <li class="open-project" routerLinkActive="active"><a routerLink="/project-list">Project list</a></li>
          <li class="open-project" routerLinkActive="active"><a routerLink="/project-taskbar">Taskboard</a></li>
          <li class="open-project" routerLinkActive="active"><a routerLink="/ticket-list">Ticket List</a></li>
          <li class="open-project" routerLinkActive="active"><a routerLink="/ticket-detail">Ticket Details</a></li>
          <li class="open-project" routerLinkActive="active"><a routerLink="/project-client">Clients</a></li>
          <li class="open-project" routerLinkActive="active"><a routerLink="/todo-list">Todo List</a></li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" aria-expanded="true" class="has-arrow arrow-c"><i
            class="icon-briefcase"></i><span>Job Portal</span></a>
        <ul id="job-portal-ul">
          <li class="open-job-portal" routerLinkActive="active"><a routerLink="/job-dashboard"><span>Job
                Dashboard</span></a></li>
          <li class="open-job-portal" routerLinkActive="active"><a routerLink="/job-position"><span>Positions</span></a>
          </li>
          <li class="open-job-portal" routerLinkActive="active"><a
              routerLink="/job-application"><span>Applicants</span></a></li>
          <li class="open-job-portal" routerLinkActive="active"><a routerLink="/job-resume"><span>Resumes</span></a>
          </li>
          <li class="open-job-portal" routerLinkActive="active"><a routerLink="/job-setting"><span>Settings</span></a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" aria-expanded="true" class="has-arrow arrow-c"><i
            class="icon-lock"></i><span>Authentication</span></a>
        <ul id="authentication-ul">
          <li class="open-authentication" routerLinkActive="active"><a routerLink="/login">Login</a></li>
          <li class="open-authentication" routerLinkActive="active"><a routerLink="/register">Register</a></li>
          <li class="open-authentication" routerLinkActive="active"><a routerLink="/forgot-password">Forgot password</a>
          </li>
          <li class="open-authentication" routerLinkActive="active"><a routerLink="/page-not-found">404 error</a></li>
          <li class="open-authentication" routerLinkActive="active"><a routerLink="/page-not-working">500 error</a></li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" aria-expanded="true" class="has-arrow arrow-c"><i
            class="icon-tag"></i><span>Icon</span></a>
        <ul id="icon-ul">
          <li class="open-icon" routerLinkActive="active"><a routerLink="/font-awesome">FontAwesome</a></li>
          <li class="open-icon" routerLinkActive="active"><a routerLink="/feather">Feather</a></li>
          <li class="open-icon" routerLinkActive="active"><a routerLink="/line-icon">Line Icons</a></li>
          <li class="open-icon" routerLinkActive="active"><a routerLink="/flag-icon">Flag Icons</a></li>
          <li class="open-icon" routerLinkActive="active"><a routerLink="/payment-icon">Payments Icon </a></li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:void(0)" aria-expanded="true" class="has-arrow arrow-c"><i
            class="icon-puzzle"></i><span>Widgets</span></a>
        <ul id="widget-ul">
          <li class="open-widget" routerLinkActive="active"><a routerLink="/card">Card</a></li>
          <li class="open-widget" routerLinkActive="active"><a routerLink="/card-image">Card Image</a></li>
          <li class="open-widget" routerLinkActive="active"><a routerLink="/data">Data</a></li>
          <li class="open-widget" routerLinkActive="active"><a routerLink="/social">Social</a></li>
        </ul>
      </li>
      <li routerLinkActive="active"><a routerLink="/gallery"><i class="icon-picture"></i>Gallery</a></li>
    </ul>
  </nav>
</div>