<p-card header="{{ 'Project Experience' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    Linov HR
                </p-header>
                <div class="ui-grid-row my-0">
                    21-Mar-2010 to 15-Jan-2013
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Project URL : <a href="demo4.linovhr.com">demo4.linovhr.com</a>
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Description :
                </div>
                <div class="ui-grid-row my-0">
                    <li>Building an app for human resource department uses.</li>
                </div>
            </p-card>
        </div>
    </div>
</p-card>