<div class="d-flex flex-row p-0" style="margin-top: 5px;" *ngIf="!isActive" [formGroup]="formSearch">
    <div class="ui-g-10" style="display: flex;">
        <input formControlName="inquiry" (keyup.enter)="onPosSearch()" type="search" style="padding-left:2em"
            placeholder="Search" pInputText class="w-100 input-text" />
        <span class="pi pi-search icon-search" style="position: absolute;
                            padding-left:0.25em;
                            display:block;
                            margin-top: 6px;
                            color: #0087E0;
                            pointer-events: none;"> <small></small>
        </span>
    </div>
    <div class="ui-g-2" style="margin-top: 3px;">
        <button (click)="onRefresh()" pButton type="button" label="{{ 'Refresh' | translate }}" class="btn-add"
            icon="pi pi-refresh" iconPos="left"></button>
    </div>
</div>


<div class="d-flex flex-row p-0" style="margin-top: 5px;" [formGroup]="formSearch" *ngIf="isActive">
    <div class="ui-g-5" style="display: flex;">
        <input formControlName="inquiry" (keyup.enter)="onPosSearch()" type="search" style="padding-left:2em"
            placeholder="Search" pInputText class="w-100 input-text" />
        <span class="pi pi-search icon-search" style="position: absolute;
                            padding-left:0.25em;
                            display:block;
                            margin-top: 6px;
                            color: #0087E0;
                            pointer-events: none;"> <small></small>
        </span>
    </div>
    <div class="ui-g-5">
        <p-dropdown #dd dropdownIcon="fas fa-caret-down" (onChange)="onSearch()" [options]="searchStatus"
            formControlName="isActive" appendTo="body" filter="true"></p-dropdown>

    </div>
    <div class="ui-g-2" style="margin-top: 3px;">
        <button (click)="onRefresh()" pButton type="button" label="{{ 'Refresh' | translate }}" class="btn-add"
            icon="pi pi-refresh" iconPos="left"></button>
    </div>
</div>
