<style>
    .ui-dropdown {
        min-width: 12.5em;
        width: 100%;
    }

    .ui-autocomplete {
        border: none;
    }

    .ui-autocomplete > .ui-autocomplete-input {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    body > .ui-autocomplete > .ui-autocomplete-input {
        border-top: none;
        border-left: none;
        border-right: none;
    }
</style>

<p-card header="{{ 'Skills' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <div *ngIf="editModeHeader; else viewSkillHeader">
            <p-button type="button" class="m-2 pull-right" label="Save" icon="pi pi-save" (click)="onSave()"></p-button>
        </div>
        <ng-template #viewSkillHeader>
            <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="edit()"></p-button>
        </ng-template>
    </p-header>
    <div *ngIf="editMode; else viewSkill">
        <div class="chip" *ngFor="let item of skills; let index">
            <label style="vertical-align: middle; padding-bottom: 8px;"> {{item}} </label>
            <button class="btn" style="margin-top: -15px;" (click)="delete(index)"><i class="fa fa-times"></i></button>
        </div>
        <hr>
        <div class="row mt-3" style="margin-left: 0%;">
            <div style="margin-right: 2%;">
                <p-autoComplete inputStyleClass="inputSkill" [(ngModel)]="selectedSkillList" [suggestions]="filteredSkillList" (completeMethod)="filterSkillList($event)" placeholder="Input a skill"></p-autoComplete>
                <!-- <p-dropdown [options]="skillList" [(ngModel)]="selectedSkillList" placeholder="Select a Skill"></p-dropdown> -->
            </div>
            <div style="margin-right: 2%;">
                <p-dropdown [options]="skillLevel" [(ngModel)]="selectedSkillLevel" placeholder="Select Level"></p-dropdown>
            </div>
            <div>
                <button pButton type="button" (click)="addSkill()" style="background: transparent; border: none; color: black;" icon="pi pi-angle-double-right"></button>
            </div>
            <div style="position: absolute; right: 2%;">
                <button pButton style="background:transparent; color: black; border-color: black;" label="Count: {{skillCount}}"></button>
            </div>
        </div>
    </div>
    <ng-template #viewSkill>
        <div class="chip-view" *ngFor="let item of skills; let index">
            <label style="vertical-align: middle; padding-bottom: 8px;"> {{item}} </label>
            <!-- <button class="btn" style="margin-top: -15px;" (click)="delete(index)"><i class="fa fa-times"></i></button> -->
        </div>
        <hr>
        <div>
            <button pButton style="background:transparent; color: black; border-color: black;" label="Count: {{skillCount}}"></button>
        </div>
    </ng-template>
    <p-footer *ngIf="editModeFooter">
        
    </p-footer>
</p-card>

<!-- <p-card header="{{ 'Skills' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addSkill()"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-table [columns]="skillColumns" [value]="skills" [scrollable]="true"
                [style]="{ minWidth: '100%' }">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 10%;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="text-align: center;">
                            Skill
                        </th>
                        <th style="text-align: center;">
                            Level
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-skill>
                    <tr>
                        <td style="width: 10%;">
                            <p-tableCheckbox [value]="skill"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-dropdown style="width: 100%;" appendTo="body" [options]="skillList" [(ngModel)]="skill.skill" placeholder="Select a Skill"></p-dropdown>
                        </td>
                        <td>
                            <p-dropdown appendTo="body" [options]="skillLevel" [(ngModel)]="skill.level" placeholder="Select Level"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td class="text-center" [attr.colspan]="9">
                            {{'No Records Found'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card> -->

<!-- <p-dialog [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="skill">
        <div class="p-col-4">
            <label for="vin">Skill</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="vin" [(ngModel)]="skill.skill" autofocus />
        </div>
        <div class="p-col-4">
            <label for="year">Level</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="year" [(ngModel)]="skill.level" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="onDelete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog> -->