.chip {
  display: inline-block;
  padding: 0;
  padding-left: 1%;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #ffffff;
}
.chip-view {
  display: inline-block;
  padding: 0;
  padding-left: 1%;
  padding-right: 1%;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #ffffff;
}
.dropdown-skilledit {
  margin-right: 2%;
}
:host ::ng-deep .ui-autocomplete .ui-autocomplete-input {
  border-top: none;
  border-left: none;
  border-right: none;
}
:host ::ng-deep .ui-dropdown {
  border-top: none;
  border-left: none;
  border-right: none;
}
:host ::ng-deep .ui-dropdown .ui-dropdown-label {
  opacity: 90%;
}
