<app-header-top></app-header-top>
<app-left-sidebar></app-left-sidebar>

<div class="page">
  <app-page-topbar></app-page-topbar>
  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bline">
              <h3 class="card-title">Sara Hopkins</h3>
              <div class="card-options">
                <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                <a href="javascript:void(0);" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
              </div>
            </div>
            <div class="card-body">
              <full-calendar
                [plugins]="calendarPlugins"
                [weekends]="true"
                [events]="[
                            { title: 'Birthday Party', date: '2019-07-01', className: 'bg-info text-light'},
                            { title: 'Conference', date: '2019-07-05', className: 'bg-warning text-light'},
                            { title: '12:30p Meeting', date: '2019-07-09', className: 'bg-success text-light'},
                            { title: '6:30p Meeting', date: '2019-07-09', className: 'bg-info text-light'}
                          ]"
              ></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- Add New Event popup -->
<div class="modal fade" id="addNewEvent" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add</strong> an event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Event Name</label>
              <input class="form-control" placeholder="Enter name" type="text" name="category-name">
            </div>
            <div class="col-md-6">
              <label class="control-label">Choose Event Color</label>
              <select class="form-control" data-placeholder="Choose a color..." name="category-color">
                <option value="success">Success</option>
                <option value="danger">Danger</option>
                <option value="info">Info</option>
                <option value="primary">Primary</option>
                <option value="warning">Warning</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success save-event" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Direct Event popup -->
<div class="modal fade" id="addDirectEvent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Direct Event</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Event Name</label>
              <input class="form-control" name="event-name" type="text" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Event Type</label>
              <select name="event-bg" class="form-control">
                <option value="success">Success</option>
                <option value="danger">Danger</option>
                <option value="info">Info</option>
                <option value="primary">Primary</option>
                <option value="warning">Warning</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn save-btn btn-success">Save</button>
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Event Edit Modal popup -->
<div class="modal fade" id="eventEditModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Event Name</label>
              <input class="form-control" name="event-name" type="text" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Event Type</label>
              <select name="event-bg" class="form-control">
                <option value="success">Success</option>
                <option value="danger">Danger</option>
                <option value="info">Info</option>
                <option value="primary">Primary</option>
                <option value="warning">Warning</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn mr-auto delete-btn btn-danger">Delete</button>
        <button class="btn save-btn btn-success">Save</button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
