<!-- <p>WORKS!!</p>
<div class="ui-g ui-helper-clearfix" >
    <div class="ui-g-5 p-0">
        <div class="d-flex flex-row" style="text-align: center;">
            <div class="ui-g-1"style="cursor: pointer;">
                <i class="pi pi-file-o"></i> <br>
                <small>Application</small>
            </div>
            <div class="ui-g-1" style="cursor: pointer;">
                <i class="pi pi-check-square"></i> <br>
                <small>Asssesment</small>
            </div>
            <div class="ui-g-1" style="cursor: pointer;">
                <i class="pi pi-comments"></i> <br>
                <small>Interview</small>
            </div>
            <div class="ui-g-1" style="cursor: pointer;">
                <i class="pi pi-money-bill"></i> <br>
                <small>Offers</small>
            </div>
            <div class="ui-g-1" style="cursor: pointer;">
                <i class="pi pi-spinner"></i> <br>
                <small>Onboarding</small>
            </div>
            <div class="ui-g-1" style="cursor: pointer;">
                <i class="pi pi-id-card"></i> <br>
                <small> Hired</small>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 p-0">           
            <p-table [paginator]="true" [columns]="myAppDetailsColumn" 
            [scrollable]="true" [style]="{ width: '1000px' }" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"
            dataKey="id" class="background-content custom-pagination">
                <ng-template pTemplate="header" let-columns>
                    <tr style="width: 3em" class="text-center" >
                        <th *ngFor="let column of columns">
                            {{ column.label | translate }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cols>
                    <tr style="width: 3em" class="text-center" >
                    </tr>
                        <td>
                            <br><p class="detail">LOGO PERUSAHAAN</p>
                        </td>
                        <td>
                            <div class="col-lg-3">
                                <br><p>Java Programmer</p>
                            </div>
                        </td> 
                        <td>   
                        </td> 
                        <td>
                            <div class="col-lg-3">
                                <button class="fe fe-trash-2">Withdraw</button>
                                <br><p>viewed 3 times </p>
                            </div>  
                        </td>
                </ng-template>
            </p-table> 
        </div>
    </div>
</div>
 -->
