<p-card header="{{ 'Education' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addEducation()"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-table [columns]="educationColumns" [value]="educations" [scrollable]="true"
                [style]="{ minWidth: '100%' }" selectionMode="single" [(selection)]="selectedEducation" (onRowSelect)="onRowSelect($event)">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width: 250px" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let column of columns">
                            {{ column.label }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-addr let-edu>
                    <tr [pSelectableRow]="edu">
                        <td>
                            {{ edu.degree }}
                        </td>
                        <td>
                            {{ edu.institution }}
                        </td>
                        <td>
                            {{ edu.gradeType }}
                        </td>
                        <td>
                            {{ edu.grade }}
                        </td>
                        <td>
                            {{ edu.beginYear }}
                        </td>
                        <td>
                            {{ edu.endYear }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td class="text-center" [attr.colspan]="9">
                            {{'No Records Found'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>

<p-dialog [(visible)]="displayDialog" header="Education Input" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="education">
        <div class="p-col-4 mb-2">
            <label for="degree" class="mb-0">Degree</label>
            <input pInputText id="degree" [(ngModel)]="education.degree" autofocus />
        </div>
        <div class="p-col-4 mb-2">
            <label for="institution" class="mb-0">Institution</label>
            <input pInputText id="institution" [(ngModel)]="education.institution" />
        </div>
        <div class="p-col-4 mb-2">
            <label for="gradeType" class="mb-0">Grade Type</label>
            <input pInputText id="brand" [(ngModel)]="education.gradeType" />
        </div>
        <div class="p-col-4 mb-2">
            <label for="grade" class="mb-0">Grade</label>
            <input pInputText id="grade" [(ngModel)]="education.grade" />
        </div>
        <div class="row ui-g-12 mb-0" style="width: 110%; height: 3vh;">
            <label for="start" class="ui-g-6">Start</label>
            <label for="end" class="ui-g-6">End</label>
        </div>
        <div class="row ui-g-12 mb-0" style="width: 110%;">
            <div class="ui-g-6">
                <input pInputText id="start" [(ngModel)]="education.beginYear" />
            </div>
            <div class="ui-g-6">
                <input class="ui-g-6" pInputText id="brand" [(ngModel)]="education.endYear" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="onDelete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>