
    <div class="section-body mt-3">
        <div class="container-fluid">
          <div class="row clearfix">
              <div class="col-12">
                <span >
                    <small>1-10 of job vacancy applied</small>
                </span>
                <span style="float:right;">
                        <span style="color: rgb(37, 241, 48);">
                            <!-- <a class="pi pi-sort-amount-down-alt">Applied Date&nbsp;</a> -->
                            <a><small>Applied Date&nbsp;</small><i class="fa fa-sort-amount-asc"></i></a>
                        </span>
                        <span>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Alphabet&nbsp;</small> <i class="fa fa-sort-alpha-asc"></i></a>
                        </span>
                        <span>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Salary&nbsp;</small>  <i class="fa fa-sort-amount-asc"></i></a>
                        </span>
                        <span>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Expiry Date&nbsp;</small> <i class="fa fa-sort-amount-asc"></i></a>
                        </span>
                        <span>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Posting Date&nbsp; </small> <i class="fa fa-sort-amount-asc"></i></a>
                        </span> 
                </span>
              </div>
            <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped table-vcenter mb-0">
                      <tbody>
                      <tr>
                        <!-- <td colspan="2">
                            <img class="fit-picture"
                            src="./assets/images/gallery/defaultLogo.jpg"
                            alt="Company Logo">
                        </td> -->
                        <td colspan="2">
                            <a [routerLink]="'/detail'" class="detail-job"><u>Java Programmer</u></a>
                            <br><span><small>PT Lawencon International</small></span>
                            <br><span><small>Jakarta, Indonesia</small></span>
                            <br><span><small> IDR 5,000,000-10,000,000</small></span>
                        </td>
                        <td colspan="2"></td>
                        <td colspan="8">
                        <span class="d-flex flex-row" style="text-align: center;">
                            <ul id="progressbar">
                                <li class="active" id="application"><small>Application</small></li>
                                <li id="assesment"><small>Assesment<br></small></li>
                                <li id="interview"><small>Interview<br></small></li>
                                <li id="offer"><small><br>Offers<br></small></li>
                                <li id="onboarding"><small>Onboarding<br></small></li>
                                <li id="hired"><small><br>Hired</small></li>
                            </ul>
                        </span>
                        </td>
                        <td colspan="2">
                            <span>
                                <button class="btn-myapp" (click)="showDialog()">&nbsp;<i class="fas fa-trash-alt"></i>WITHDRAW</button>
                                <br><span><small><b>viewed 3 times</b></small></span>
                                <br><span><small>applied 3 months ago</small></span>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <!-- <td colspan="2">
                            <img class="fit-picture"
                            src="./assets/images/gallery/defaultLogo.jpg"
                            alt="Company Logo">
                        </td> -->
                        <td colspan="2">
                            <a [routerLink]="'/detail'" class="detail-job"><u>Business Analyst</u></a>
                            <br><span><small>PT Lawencon International</small></span>
                            <br><span><small>Jakarta, Indonesia</small></span>
                            <br><span><small> IDR 5,000,000-10,000,000</small></span>
                        </td>
                        <td colspan="2"></td>
                        <td colspan="8">
                            <span class="d-flex flex-row" style="text-align: center;">
                                <ul id="progressbar">
                                    <li class="active" id="application"><small>Application</small></li>
                                    <li id="assesment"><small>Assesment<br></small></li>
                                    <li id="interview"><small>Interview<br></small></li>
                                    <li id="offer"><small><br>Offers<br></small></li>
                                    <li id="onboarding"><small>Onboarding<br></small></li>
                                    <li id="hired"><small><br>Hired</small></li>
                                </ul>
                            </span>
                        </td>
                        <td colspan="2">
                            <span>
                                <button class="btn-myapp" (click)="showDialog()"><i class="fas fa-trash-alt"></i>&nbsp;WITHDRAW</button>
                                <br><span><small><b>viewed 3 times</b></small></span>
                                <br><span><small>applied 3 months ago</small></span>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <!-- <td colspan="2">
                            <img class="fit-picture"
                            src="./assets/images/gallery/defaultLogo.jpg"
                            alt="Company Logo">
                        </td> -->
                        <td colspan="2">
                            <a [routerLink]="'/detail'" class="detail-job"><u>Full-stack Developer</u></a>
                            <br><span><small>PT Lawencon International</small></span>
                            <br><span><small>Jakarta, Indonesia</small></span>
                            <br><span><small> IDR 5,000,000-10,000,000</small></span>
                        </td>
                        <td colspan="2"></td>
                        <!-- <td colspan="8">
                                <span class="d-flex flex-row" style="text-align: center;">
                                    <div style="cursor: pointer;">
                                        <i label="Application" class="pi pi-file-o" style="color: chartreuse;"><br>
                                        <small>Application</small>
                                        </i> 
                                    </div>
                                    <hr class="new2">
                                    <div style="cursor: pointer;">
                                        <i label="Assesment" class="pi pi-check-square" style="color: chartreuse;"><br>
                                        <small>Assesment</small>
                                        </i> 
                                    </div><hr class="new2">
                                    <div style="cursor: pointer;">
                                        <i class="pi pi-comments"> <br>
                                        <small>Interview</small>
                                        </i>
                                    </div><hr class="new2">
                                    <div style="cursor: pointer;">
                                        <i class="pi pi-money-bill"> <br>
                                        <small>Offers</small>
                                        </i>
                                    </div><hr class="new2">
                                    <div style="cursor: pointer;">
                                        <i class="pi pi-spinner"><br>
                                        <small>Onboarding</small>
                                        </i> 
                                    </div><hr class="new2">
                                    <div style="cursor: pointer;">
                                        <i class="pi pi-id-card"><br>
                                        <small> Hired</small>
                                        </i> 
                                    </div>
                                </span>
                        </td> -->
                        <td colspan="8">
                            <span class="d-flex flex-row" style="text-align: center;">
                                <ul id="progressbar">
                                    <li class="active" id="application"><small>Application</small></li>
                                    <li id="assesment"><small>Assesment<br></small></li>
                                    <li id="interview"><small>Interview<br></small></li>
                                    <li id="offer"><small><br>Offers<br></small></li>
                                    <li id="onboarding"><small>Onboarding<br></small></li>
                                    <li id="hired"><small><br>Hired</small></li>
                                </ul>
                            </span>
                        </td>
                        <td colspan="2">
                            <span>
                                <button class="btn-myapp" (click)="showDialog()"><i class="fas fa-trash-alt"></i>&nbsp;WITHDRAW</button>
                                <br><span><small><b>viewed 3 times</b></small></span>
                                <br><span><small>applied 3 months ago</small></span>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <!-- <td colspan="2">
                            <img class="fit-picture"
                            src="./assets/images/gallery/defaultLogo.jpg"
                            alt="Company Logo">
                        </td> -->
                        <td colspan="2">
                            <a [routerLink]="'/detail'" class="detail-job"><u>Angular Developer</u></a>
                            <br><span><small>PT Lawencon International</small></span>
                            <br><span><small>Jakarta, Indonesia</small></span>
                            <br><span><small> IDR 5,000,000-10,000,000</small></span>
                        </td>
                        <td colspan="2"></td>
                        <td colspan="8">
                            <span class="d-flex flex-row" style="text-align: center;">
                                <ul id="progressbar">
                                    <li class="active" id="application"><small>Application</small></li>
                                    <li id="assesment"><small>Assesment<br></small></li>
                                    <li id="interview"><small>Interview<br></small></li>
                                    <li id="offer"><small><br>Offers<br></small></li>
                                    <li id="onboarding"><small>Onboarding<br></small></li>
                                    <li id="hired"><small><br>Hired</small></li>
                                </ul>
                            </span>
                        </td>
                        <td colspan="2">
                            <span>
                                <button class="btn-myapp" (click)="showDialog()"><i class="fas fa-trash-alt"></i>&nbsp;WITHDRAW</button>
                                <!-- <button type="button" pButton icon="pi pi-trash" style="border-color: black;"label="WITHDRAW" class="ui-button-secondary"(click)="showDialog()"></button> -->
                                <br><span><small><b>viewed 3 times</b></small></span>
                                <br><span><small>applied 3 months ago</small></span>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <!-- <td colspan="2">
                            <img class="fit-picture"
                            src="./assets/images/gallery/defaultLogo.jpg"
                            alt="Company Logo">
                        </td> -->
                        <td colspan="2">
                            <a [routerLink]="'/detail'" class="detail-job"><u>Back-end Developer</u></a>
                            <br><span><small>PT Lawencon International</small></span>
                            <br><span><small>Jakarta, Indonesia</small></span>
                            <br><span><small> IDR 5,000,000-10,000,000</small></span>
                        </td>
                        <td colspan="2"></td>
                        <td colspan="8">
                            <span class="d-flex flex-row" style="text-align: center;">
                                <ul id="progressbar">
                                    <li class="active" id="application"><small>Application</small></li>
                                    <li id="assesment"><small>Assesment<br></small></li>
                                    <li id="interview"><small>Interview<br></small></li>
                                    <li id="offer"><small><br>Offers<br></small></li>
                                    <li id="onboarding"><small>Onboarding<br></small></li>
                                    <li id="hired"><small><br>Hired</small></li>
                                </ul>
                            </span>
                        </td>
                        <td colspan="2">
                            <span>
                                <button class="btn-myapp" (click)="showDialog()"><i class="fas fa-trash-alt"></i>&nbsp;WITHDRAW</button>
                                <br><span><small><b>viewed 3 times</b></small></span>
                                <br><span><small>applied 3 months ago</small></span>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <!-- <td colspan="2">
                            <img class="fit-picture"
                            src="./assets/images/gallery/defaultLogo.jpg"
                            alt="Company Logo">
                        </td> -->
                        <td colspan="2">
                            <a  id="closedApp" [routerLink]="'/detail'" class="detail-job"><u>Full-stack Developer</u></a>&nbsp;<small>CLOSED</small>
                            <br><span><small>PT Lawencon International</small></span>
                            <br><span><small>Jakarta, Indonesia</small></span>
                            <br><span><small> IDR 5,000,000-10,000,000</small></span>
                        </td>
                        <td colspan="2"></td>
                        <td colspan="8">
                            <span class="d-flex flex-row" style="text-align: center;">
                                <ul id="progressbar">
                                    <li class="active" id="application"><small>Application</small></li>
                                    <li id="assesment"><small>Assesment<br></small></li>
                                    <li id="interview"><small>Interview<br></small></li>
                                    <li id="offer"><small><br>Offers<br></small></li>
                                    <li id="onboarding"><small>Onboarding<br></small></li>
                                    <li id="hired"><small><br>Hired</small></li>
                                </ul>
                            </span>
                        </td>
                        <td colspan="2">
                            <span>
                                <button class="btn-myapp" (click)="showDialog()"><i class="fas fa-trash-alt"></i>WITHDRAW</button>
                                <br><span><small><b>viewed 3 times</b></small></span>
                                <br><span><small>applied 3 months ago</small></span>
                            </span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <div class="col-12" style="align-self: center;">
                <p-paginator [rows]="10" [totalRecords]="20" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            </div>
          </div>
        </div>
    </div>
<!-- <ul class="pagination mt-2">
    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
</ul> -->

<p-dialog header="Delete My Application" [(visible)]="display" [style]="{width: '25vw'}" [baseZIndex]="10000">
    <div>
        <span>You are about to withdraw your application for <strong>Programmer</strong> , Jakarta, Indonesia.<br> This cannot be undone</span><br>
    </div>     
    <p-footer>
      <button class="btn-myapp" (click)="display=false"><i class="fas fa-undo"></i>&nbsp;CANCEL</button>
      <button class="btn-myapp" style="background-color: rgb(235, 29, 29);" (click)="display=false"><i class="fas fa-trash-alt"></i>&nbsp;WITHDRAW</button>
      <!-- <button type="button" pButton icon="pi pi-undo" (click)="display=false" label="CANCEL" class="ui-button-secondary"></button>  
      <button type="button" pButton icon="pi pi-trash" (click)="display=false" label="WITHDRAW"></button>  -->
    </p-footer>
  </p-dialog>

<router-outlet></router-outlet>