<p-card header="{{ 'Documents' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addDocument()"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-table [columns]="documentColumns" [value]="documents" [scrollable]="true"
                [style]="{ minWidth: '100%' }" (onRowSelect)="onRowSelect($event)" selectionMode="single" [(selection)]="selectedDocument">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width: 250px" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let column of columns">
                            {{ column.label }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-doc>
                    <tr [pSelectableRow]="doc">
                        <td>
                            
                        </td>
                        <td>
                            {{ doc.type}}
                        </td>
                        <td>
                            {{ doc.name }}
                        </td>
                        <td>
                            {{ doc.exp }}
                        </td>
                        <td>
                            {{ doc.document }}
                        </td>
                        <td>
                            {{ doc.size }}
                        </td>
                        <td>
                            {{ doc.uploadTime }}
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td class="text-center" [attr.colspan]="9">
                            {{'No Records Found'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>

<p-dialog [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="document">
        <div class="p-col-4">
            <label for="vin">Type</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="vin" [(ngModel)]="document.type" autofocus />
        </div>
        <div class="p-col-4">
            <label for="year">Name</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="year" [(ngModel)]="document.name" />
        </div>
        <div class="p-col-4">
            <label for="brand">Expire Date</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="brand" [(ngModel)]="document.exp" />
        </div>
        <div class="p-col-4">
            <label for="color">Document</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" [(ngModel)]="document.document" />
        </div>
        <div class="p-col-4">
            <label for="color">Size</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" [(ngModel)]="document.size" />
        </div>
        <div class="p-col-4">
            <label for="color">Upload Time</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" [(ngModel)]="document.uploadTime" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="onDelete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>