<p-card header="{{ 'Training' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    PT. Lawencon Internasional
                </p-header>
                <div class="ui-grid-row my-0" style="font-size: smaller; font-weight: bold;">
                    Java Bootcamp
                </div>
                <div class="ui-grid-row my-0">
                    15-Jan-2010 to 30-Mar-2010
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Description :
                </div>
                <div class="ui-grid-row my-0">
                    <li>Learn about programming using Java language and build various projects based on Java</li>
                </div>
                <div class="ui-grid-row my-0">
                    <p style="font-weight: bold;">Documents : <a href="">JavaCertificate.pdf</a>, <a href="">JavaCertificate.doc</a></p>
                </div>
            </p-card>
        </div>
    </div>
</p-card>