<p-card header="{{ 'Training' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addTraining()"></p-button>
    </p-header>
    <div class="ui-g" *ngFor="let train of trainings">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    {{train.institution}}
                    <p-button type="button" styleClass="ui-button-secondary" class="m-2 pull-right" icon="pi pi-pencil" (click)="edit(train)"></p-button>
                    <p-button type="button" styleClass="ui-button-secondary" class="m-2 pull-right" icon="pi pi-trash" (click)="delete(train)"></p-button>
                </p-header>
                <div class="ui-grid-row my-0" style="font-size: smaller; font-weight: bold;">
                    {{train.subject}}
                </div>
                <div class="ui-grid-row my-0">
                    {{train.start}} to {{train.end}}
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Description :
                </div>
                <div class="ui-grid-row my-0" *ngFor="let desc of train.description">
                    <li>{{desc}}</li>
                </div>
                <div class="ui-grid-row my-0">
                    <p style="font-weight: bold;">Documents : <a href="" *ngFor="let docs of train.documents">{{docs}}&nbsp;&nbsp;</a>
                </div>
            </p-card>
        </div>
    </div>
</p-card>

<p-dialog [(visible)]="displayDialog" header="Training Queries" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '400px'}">
    <div class="p-grid ui-fluid" *ngIf="training">
        <div class="p-col-4 mb-2">
            <label for="institution" class="mb-0">Institution</label>
            <input pInputText id="institution" [(ngModel)]="training.institution" autofocus />
        </div>
        <div class="ui-g">
            <div class="row ui-g-12 mb-0" style="height: 4vh; width: 110%;">
                <label for="year" class="ui-g-6">Start Date</label>
                <label for="brand" class="ui-g-6">End Date</label>
            </div>
            <div class="row ui-g-12 mb-0" style="width: 110%;">
                <div class="ui-g-6">
                    <input pInputText id="year" [(ngModel)]="training.start" />
                </div>
                <div class="ui-g-6">
                    <input class="ui-g-6" pInputText id="brand" [(ngModel)]="training.end" />
                </div>
            </div>
        </div>
        <div class="p-col-4 mb-2">
            <label for="subject" class="mb-0">Subject</label>
            <input pInputText id="subject" [(ngModel)]="training.subject" />
        </div>
        <div class="p-col-4 mb-2">
            <label for="description" class="mb-0">Description</label>
            <p-chips id="description" [(ngModel)]="training.description"></p-chips>
        </div>
        <div class="p-col-4 mb-2">
            <label for="documents" class="mb-0">Documents</label>
            <p-chips id="documents" [(ngModel)]="training.documents"></p-chips>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>