<p-toast position="top-right"></p-toast>


<nav class="navbar shadow-sm p-3 bg-white rounded navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a  [routerLink]="'/home'" class="navbar-brand">
            <img src="assets/Linov-header.png" style="height: 35px;" alt="" loading="lazy">
        </a>    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"  [routerLink]="'/home'">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  [routerLink]="'/home/tenant'">Tenants Management </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  [routerLink]="'/home/package'">Package Management </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  [routerLink]="'/home/modules'">Modules Management </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  [routerLink]="'/home/report'">Report</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  [routerLink]="'/home/dashboard'">Dashboard </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="ui-g-12 p-5" style="position: absolute;">
    <router-outlet *ngIf="isDesktop"></router-outlet>

    <p-card *ngIf="isTablet || isMobile" class="logos-card text-center">
        <h2>Sorry, unavailable for mobile browser.</h2>
        <p>Please contact our support team.</p>

        <!--TODO: enable for ESS-->
        <!--<a href="" class="btn btn-link">
                        <img
                            src="assets/app-store-badge.svg"
                            alt="Our app is now available on Apple Store."
                        />
                    </a>
                    <a href="" class="btn btn-link">
                        <img
                            src="assets/google-play-badge.png"
                            alt="Our app is now available on Google Play."
                        />
                    </a>-->
    </p-card>
</div>
