<form
    [formGroup]="resetForm"
    (ngSubmit)="onSubmit()"
    (reset)="onRevert()"
    class="reset-password"
>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid form-signin">
        <div class="ui-grid-row my-2">
            <div class="ui-grid-col-12">
                <img
                    class="profile-img"
                    src="/assets/linov-hr-shadow.png"
                    alt="LinovHR-Logo"
                />
            </div>
        </div>
        <div class="ui-grid-row my-2">
            <div class="ui-grid-col-12">
                <h1 class="sub-title">
                    Enter your New password.
                </h1>
            </div>
        </div>
        <div *ngIf="successMsg" class="ui-grid-row">
            <div class="ui-grid-col-12">
                <h1 class="error-msg">
                    {{ successMsg }}
                </h1>
            </div>
        </div>
        <div
            *ngIf="errorMsg && !password.value && !passwordConfirmation.value"
            class="ui-grid-row"
        >
            <div class="ui-grid-col-12">
                <h1 *ngIf="errorMsg" class="error-msg">
                    {{ errorMsg }}
                </h1>
            </div>
        </div>
        <div
            *ngIf="password.invalid && password.dirty"
            class="ui-grid-row my-3"
        >
            <div class="ui-grid-col-12">
                <p-message
                    *ngIf="password.errors['required']"
                    severity="error"
                    text="Password is required"
                ></p-message>
            </div>
        </div>
        <div
            *ngIf="passwordConfirmation.invalid && passwordConfirmation.dirty"
            class="ui-grid-row my-3"
        >
            <div class="ui-grid-col-12">
                <p-message
                    *ngIf="passwordConfirmation.errors['required']"
                    severity="error"
                    text="Password Confirmation is required"
                ></p-message>
            </div>
        </div>
        <div class="ui-grid-row my-2">
            <div class="ui-grid-col-12">
                <label>
                    Password
                    <small class="text-danger">*</small>
                </label>
                <div class="ui-inputgroup">
                    <button
                        (click)="onShowPassword()"
                        pButton
                        type="button"
                        title="View Password"
                        icon="far fa-eye"
                    ></button>
                    <input
                        [type]="passwordInputType"
                        pInputText
                        formControlName="password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$"
                    />
                </div>
            </div>
        </div>
        <div class="ui-grid-row my-2">
            <div class="ui-grid-col-12">
                <label>
                    Password Confirmation
                    <small class="text-danger">*</small>
                </label>
                <div class="ui-inputgroup">
                    <button
                        (click)="onShowPasswordConfirmation()"
                        pButton
                        type="button"
                        title="View Password"
                        icon="far fa-eye"
                    ></button>
                    <input
                        [type]="passwordConfirmationInputType"
                        pInputText
                        formControlName="passwordConfirmation"
                    />
                </div>
            </div>
        </div>
        <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <button
                            (click)="onGeneratePassword()"
                            type="button"
                            class="btn btn-warning btn-sm btn-generate"
                        >
                            Generate
                        </button>
                    </div>
                    <div>
                        <button
                            [ladda]="isLoading"
                            [disabled]="resetForm.invalid"
                            type="submit"
                            class="btn btn-primary btn-sm btn-login"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
