<p-card header="{{ 'Working Experience' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addWorkExperience()"></p-button>
    </p-header>
    <div class="ui-g" *ngFor="let work of workExperiences">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    {{ work.occupation }}
                    <p-button type="button" styleClass="ui-button-secondary" class="m-2 pull-right" icon="pi pi-pencil" (click)="edit(work)"></p-button>
                    <p-button type="button" styleClass="ui-button-secondary" class="m-2 pull-right" icon="pi pi-trash" (click)="delete(work)"></p-button>
                </p-header>
                <div class="ui-grid-row my-0">
                    {{work.start}} - {{work.end}}, {{work.company}}, {{work.location}}
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Responsibility :
                </div>
                <div class="ui-grid-row my-0" *ngFor="let resp of work.responsibility">
                    <li>{{resp}}</li>
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Benefit :
                </div>
                <div class="ui-grid-row my-0" *ngFor="let bnft of work.benefit">
                    <li>{{bnft}}</li>
                </div>
                <div class="ui-grid-row my-0">
                    Reason Leave : {{work.reason}}
                </div>
            </p-card>
        </div>
    </div>
</p-card>

<p-dialog [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '400px'}">
    <div class="p-grid ui-fluid" *ngIf="workExperience">
        <div class="p-col-4">
            <label for="vin">Occupation</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="vin" [(ngModel)]="workExperience.occupation" autofocus />
        </div>
        <div class="ui-g">
            <div class="row ui-g-12 mb-0" style="height: 4vh;">
                <label for="year" class="ui-g-6">Start Date</label>
                <label for="brand" class="ui-g-6">End Date</label>
            </div>
            <div class="row ui-g-12 mb-0">
                <div class="ui-g-6">
                    <input pInputText id="year" [(ngModel)]="workExperience.start" />
                </div>
                <div class="ui-g-6">
                    <input class="ui-g-6" pInputText id="brand" [(ngModel)]="workExperience.end" />
                </div>
            </div>
        </div>
        <div class="p-col-4">
            <label for="color">Company</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" [(ngModel)]="workExperience.company" />
        </div>
        <div class="p-col-4">
            <label for="color">Location</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" [(ngModel)]="workExperience.location" />
        </div>
        <div class="p-col-4">
            <label for="color">Responsibility</label>
        </div>
        <div class="p-col-8">
            <!-- <input pInputText id="color" [(ngModel)]="workExperience.responsibility" /> -->
            <p-chips [(ngModel)]="workExperience.responsibility"></p-chips>
        </div>
        <div class="p-col-4">
            <label for="color">Benefit</label>
        </div>
        <div class="p-col-8">
            <!-- <input pInputText id="color" [(ngModel)]="workExperience.benefit" /> -->
            <p-chips [(ngModel)]="workExperience.benefit"></p-chips>
        </div>
        <div class="p-col-4">
            <label for="color">Reason Leave</label>
        </div>
        <div class="p-col-8">
            <input pInputText id="color" [(ngModel)]="workExperience.reason" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>