<p-card header="{{ 'Working Experience' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    Programmer
                </p-header>
                <div class="ui-grid-row my-0">
                    Mar 2010 - Jan 2013, PT Lawencon Internasional, Jakarta - Indonesia
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Responsibility :
                </div>
                <div class="ui-grid-row my-0">
                    <li>Making programs based on client</li>
                    <li>Debugging programs</li>
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Benefit :
                </div>
                <div class="ui-grid-row my-0">
                    <li>BPJS</li>
                </div>
                <div class="ui-grid-row my-0">
                    Reason Leave : Want to find a whole new experience
                </div>
            </p-card>
        </div>
    </div>
</p-card>