<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6  col-sm-6 mx-auto login-center">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (reset)="onRevert()" class="sign-in">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid form-signin">
                    <div class="ui-grid-row my-2">
                        <div class="ui-grid-col-12">
                            <img class="profile-img" src="/assets/linov-hr-shadow.png" alt="LinovHR-Logo" />
                        </div>
                    </div>
                    <div class="ui-grid-row my-2">
                        <div class="ui-grid-col-12">
                            <h1 class="sub-title">
                                Enter your Username and Password.
                            </h1>
                        </div>
                    </div>
                    <div *ngIf="errorMsg && !username.value && !password.value" class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h1 *ngIf="errorMsg" class="error-msg">
                                {{ errorMsg }}
                            </h1>
                        </div>
                    </div>
                    <div *ngIf="username.invalid && username.dirty" class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p-message *ngIf="username.errors['required']" severity="error" text="Username is required">
                            </p-message>
                            <p-message *ngIf="username.errors['pattern']" severity="error"
                                text="Username must be an alphanumberic">
                            </p-message>
                        </div>
                    </div>
                    <div *ngIf="password.invalid && password.dirty" class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p-message *ngIf="password.errors['required']" severity="error" text="Password is required">
                            </p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row my-3">
                        <div class="ui-grid-col-12">
                            <span class="ui-float-label">
                                <input pInputText formControlName="username" type="text" autofocus />
                                <label>Username</label>
                            </span>
                        </div>
                    </div>
                    <div class="ui-grid-row my-3">
                        <div class="ui-grid-col-12">
                            <span class="ui-float-label">
                                <input pInputText formControlName="password" type="password" />
                                <label>Password</label>
                            </span>
                        </div>
                    </div>
                    <!--<div class="ui-grid-row my-3">
                        <div class="ui-grid-col-12 recaptcha-container">
                            <re-captcha formControlName="g-recaptcha-response"></re-captcha>
                        </div>
                    </div>-->
                    <div class="ui-grid-row my-3">
                        <div class="ui-grid-col-12">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <button (click)="onForgotPassword()" type="button"
                                        class="btn btn-link btn-sm btn-forgot">
                                        Forgot Password?
                                    </button>
                                </div>
                                <div class="mt-1">
                                    <button [ladda]="isLoading" [disabled]="loginForm.invalid" type="submit"
                                        class="btn btn-primary btn-sm btn-login"style="cursor: pointer;">
                                        Log In
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
