<p-card
            header="{{ 'Basic Information' }}"
            styleClass="ui-card--workforce mb-3"
            class="border-title"
        >
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid p-0">
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Name
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                John Doe
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                NIK
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                20200230001
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Email
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                john.doe@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Phone
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                022-33132341
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Nationality
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Indonesia
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Birth Place
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Surabaya
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Birth Date
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                23-JUN-1988
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Gender
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Male
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Marital Status
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Married
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Religion
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Islam
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Blood Type
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                A
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Social Media
                            </label>
                        </div>
                        <div class="ui-grid-col-3">
                            <div class="ui-grid-row my-1">
                                <span class="border-none pad-4">
                                    LinkedIn
                                </span>    
                            </div>
                            <div class="ui-grid-row my-1">
                                <span class="border-none pad-4">
                                    <a href="">
                                        linkedin.com/john.doe
                                    </a>
                                </span>    
                            </div>
                        </div>
                        <div class="ui-grid-col-3">
                            <div class="ui-grid-row my-1">
                                <span class="border-none pad-4">
                                    Facebook
                                </span>    
                            </div>
                            <div class="ui-grid-row my-1">
                                <span class="border-none pad-4">
                                    <a href="">
                                        facebook.com/john.doe
                                    </a>
                                </span>    
                            </div>
                        </div>
                        <div class="ui-grid-col-3">
                            <div class="ui-grid-row my-1">
                                <span class="border-none pad-4">
                                    Instagram
                                </span>    
                            </div>
                            <div class="ui-grid-row my-1">
                                <span class="border-none pad-4">
                                    <a href="">
                                        instagram.com/john.doe
                                    </a>
                                </span>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Hobbies
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Swimming
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Strength
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Visionary, Target-Based
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Weakness
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                Pressure
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Experience
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                4 Years
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row my-1">
                    <div class="ui-grid-col-12 p-0">
                        <div class="ui-grid-col-2">
                            <label class="margin-4">
                                Salary Expectations
                            </label>
                        </div>
                        <div class="ui-grid-col-10">
                            <span class="border-none pad-4">
                                IDR 6,000,000
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
