.division{
  margin-bottom:20px;
  margin-top:50px;
}
.container-custom{
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}
.styling-remove{
  margin-bottom:20px;
  margin-top:20px;
  color:red;
  font-size:24px;
}