.fit-picture {
    width: 150px;
}
.ul-progress{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: inline start 0;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 25px;
    font-size: 12px;
    // font-family: 'Roboto';
    line-height: 25px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #ffffff;
  }

/* Style buttons */
.btn-myapplication{
    background-color: white; /* Blue background */
    border: 1px solid black; /* Remove borders */
    border-radius: 6px;
    color: black; /* White text */
    padding: 5px 18px; /* Some padding */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:  #007bffe5;
  }


.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-details > .p-grid {
    border: 1px solid #b3c2ca;
    border-radius: 3px;
    margin: 0.3em;
    text-align: center;
    padding: 2em 0 2.25em 0;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data .car-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data .car-subtitle {
    margin: 0.25em 0 2em 0;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data button {
    margin-left: 0.5em;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data button:first-child {
    margin-left: 0;
}
.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
}
.carousel-demo .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-start .car-details > .p-grid {
    margin-left: 0.6em;
}
.carousel-demo .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-end .car-details > .p-grid {
    margin-right: 0.6em;
}

  .box

  .box-stretched {
      height: 100%;
  }

  .sample-layout {
      margin: 0;
  }

  .sample-layout > div {
      border: 1px solid #ffffff;
  }

  .nested-grid .p-col-4 {
      padding-bottom: 1em;
  }


//progress bar 
.steps {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar .active {
    color: rgb(34, 216, 89)
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 8%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #application:before {
    font-family: FontAwesome;
    content: "\f0f6"
}

#progressbar #assesment:before {
    font-family: FontAwesome;
    content: "\f046"
}

#progressbar #interview:before {
    font-family: FontAwesome;
    content: "\f1d7"
}

#progressbar #offer:before {
    font-family: FontAwesome;
    content: "\f2b5"
}

#progressbar #onboarding:before {
    font-family: FontAwesome;
    content: "\f135"
}

#progressbar #hired:before {
    font-family: FontAwesome;
    content: "\f2c2"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    font-size: 20px;
    color: lightgray;
    // background: lightgray;
    // border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    width: 100%;
    height: 2px;
    // background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active::after,
#progressbar li.active::before {
    color: rgb(34, 216, 89)
}

.fit-image {
    width: 100%;
    object-fit: cover
}