<div class="ui-g">
    <div class="ui-grid-row ui-g-12 mx-2">
        <h2>HELP</h2>
    </div>
    <div class="ui-grid-row ui-g-12">
        <div class="ui-g-12">
            <p-card header="{{ 'F.A.Q' }}" styleClass="ui-card--workforce mb-3" class="border-title">
                <div class="ui-g">
                    <div class="ui-g-12 p-0">
                        <p>We aspire to operate an open and inclusive community where candidates can share their opinion and employers can take part in the conversation.  
                        If your question is not answered here please contact us.<br>


                        Q: Does LinovHR screen reviews?<br>
                        A: Yes. We have technology and a moderation team to screen each review to ensure it meets our community guidelines and is deemed helpful to our community.<br>
                        <br>
                        We do not fact check reviews to verify their accuracy, or endorse any specific opinions, about any company.  The reviews are posted by our candidate community based on their opinion of working at a specific company, and are shown as posted without any editing.<br>
                        <br>
                        Despite our best efforts, occasionally an inappropriate review may be published. In these rare cases, you can report a review for being inappropriate if you feel it is suspicious or violates our guidelines.<br>
                        Q: Does LinovHR alter any reviews for its customers?<br>
                        A: No.  The trust of our community is our main concern so we never edit or alter any reviews submitted by candidates.  It is shared exactly as it was written by the reviewer.<br>
                        <br>
                        We do assess every piece of review, through our technology and moderation team before it is published to ensure it meets our community guidelines. We apply the same standards to every piece of review regardless of whether it relates to a LinovHR.com customer or not.  We also allow any members of our community to report a review they feel is inappropriate.<br>
                        <br>
                        We don’t verify the accuracy or endorse any of the opinions shared.<br>
                        Q: How do I report a review for being inappropriate?<br>
                        A: To report a review you believe is suspicious or breaks our community guidelines you need to;<br>
                        Log in to your LinovHR.com account and locate the review.<br>
                        Select the ‘report’ flag.<br>
                        Select the most appropriate reason for the report, adding any information you believe will help us understand the issue.<br>
                        Submit the report.<br>
                        <br>
                        This report will then be re-evaluated by our technology and moderation team based on our community guidelines, to determine if it is suitable or should be removed.  <br>
                        Q: Who can reply to a company review?<br>
                        A: Only valid and active SiVA users from each respective company. We do not restrict the right to reply within the SiVA account. Therefore we recommend each company determines who is responsible for replying to reviews.<br>
                        Q: Why doesn't my company have a profile page?<br>
                        A:   We want to be a comprehensive source of company information, so are always adding more profiles and just may not have got to your organisation yet.  If your company profile hasn't been created yet please submit an enquiry to our customer service team.<br>
                        Q: When will my review be posted?<br>
                        A: To help ensure our community is trusted by candidates we want to ensure the reviews you post is relevant and in the spirit of helping other candidates.<br>
                        <br>
                        Therefore, every review posted by you is evaluated by our technology and moderation team before it is visible to others to ensure that it is appropriate and meets our community guidelines.<br>
                        <br>
                        The length of this process depends on when you post your review but it will typically take a couple of days.  <br>
                        <br>    
                        If you have submitted a company review but do not see it on the company profile, it could be due to the following:<br>
                        Insufficient reviews – We will only publish the review when we have collected sufficient submissions for company in question.<br>
                        Violation of Community Guideline – The review might have been deemed unsuitable based on our community guidelines. <br>
                        <br>
                        Q: Why wasn’t the review I reported removed?<br>
                        A: We rely on our community to help us identify inappropriate reviews that have been posted. If a review that you report goes against our guidelines or we determine there is something improper about it, we will remove the review. However, simply disagreeing with the content of the review is not sufficient to justify removing the review. LinovHR.com does not arbitrate or referee factual disputes.<br>
                        <br>
                        If this review relates to your company, we recognise that there are two sides to every story and we want potential candidates to hear yours.  If you have not already done so, we recommend that you submit a response to this review. Your response will appear right underneath the review, so candidates can read both perspectives.<br>
                        Q: Can I reply to a company's reply to a review?<br>
                        A: No.  While we are all for open discussion we feel that our company review platform is not the best place for this type of conversation.  A company is able to respond to a review once, but neither the reviewer nor any other member of the community can continue the discussion.<br>
                        <br>
                        If you feel a response from a company is not suitable based on our community guidelines please let us know by submitting a report.<br>
                        </p>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>
