<div class="container-custom">

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
    </div>
    
    <app-component-logger-form [storeItem]="null" [formValue]="formReady"> </app-component-logger-form>
    <form [formGroup]="formReady">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">Tenant Name</label>
            <div class="col-sm-8">
                <input type="text" size="30" formControlName="tenantName" placeholder="Input Tenant Name" pattern="[a-zA-Z0-9 ]*" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" clasws="col-sm-4 col-form-label">Tenant Email</label>
            <div class="col-sm-8">
                <input type="text" formControlName="email" pattern="[a-zA-Z0-9 ]*" class="form-control" placeholder="company@gmail.com" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label">Start - End Date</label>
            <div class="col-sm-4">
                <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true" readonlyInput="true" formControlName="startDate" class="calender border-none pad-4" yearRange="{{ '' | primeYearRange }}"> </p-calendar>
            </div>
            <div class="col-sm-4">
                <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true" readonlyInput="true" formControlName="endDate" class="border-none pad-4" yearRange="{{ '' | primeYearRange }}"> </p-calendar>
            </div>
        </div>
        <div class="division">
            <p-tabView>
                <p-tabPanel header="Packages">
                    <div class="custom-control custom-radio"  *ngFor="let item of plansData">
                        <input type="radio"  name="plans" [id]="item.id" [value]="item.id" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">{{item.name}}</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input value="null" type="radio" id="null" name="plans" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Custom</label>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
        <div class="row division">
            <div class="col-md-6">
                <h4>Company</h4>
            </div>
            <div class="col-md-6 d-flex flex-row-reverse">
                <button (click)="addCompany()" type="button" class="btn btn-primary">Tambah Perusahaan</button>
            </div>
        </div>
        <p-tabView>
            <p-tabPanel *ngFor="let item of formReady['controls'].company['controls']; let i = index;last as isFirst" [selected]="isFirst" header="Company {{i+1}}">
                <div formArrayName="company">
                    <div [formGroupName]="i">
                        <div class="row styling-remove">
                            <div *ngIf="i > 0" class="col-md-12  d-flex flex-row-reverse">
                                <i class="fa fa-close"  (click)="removeCompany(i)" style="cursor: pointer;"></i>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">name</label>
                            <div class="col-sm-8">
                                <input type="text" formControlName="name" pattern="[a-zA-Z0-9 ]*" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Tax Number</label>
                            <div class="col-sm-8">
                                <p-inputMask placeholder="99.999.999.9-999.999" mask="99.999.999.9-999.999" [unmask]="true" type="text" formControlName="taxNamber" pattern="[a-zA-Z0-9 ]*" placeholder="" ></p-inputMask>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Language Default</label>
                            <div class="col-sm-8">
                                <select class="custom-select" formControlName="languageDefault">
                                    <option 
                                        *ngFor="let item of languages"
                                        [value]="item.key">
                                        {{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Date Format</label>
                            <div class="col-sm-8">
                                <select class="custom-select" formControlName="dateFormat">
                                    <option 
                                        *ngFor="let item of dateFormats"
                                        [value]="item.key">
                                        {{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Currency</label>
                            <div class="col-sm-8">
                                <select class="custom-select" formControlName="curency">
                                    <option 
                                        *ngFor="let item of currencies"
                                        [value]="item.key">
                                        {{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Address</label>
                            <div class="col-sm-8">
                                <input type="text" formControlName="address" pattern="[a-zA-Z0-9 ]*" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Postal Code</label>
                            <div class="col-sm-8">
                                <input type="text" formControlName="postalCode" pattern="[a-zA-Z0-9 ]*" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Company Position</label>
                            <div class="col-sm-8">
                                <input type="text" formControlName="companyPosition" pattern="[a-zA-Z0-9 ]*" class="form-control" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

        
    </form>
</div>
