<div class="ui-helper-clearfix">
    <div class="container">
        <p-tabView>
            <p-tabPanel header="Tenant Management" style="border: 2px solid transparent;">

                <div class="ui-g-12 px-3">
                    <div class="button" style="float: right;text-align: right;">
                        <button class="btn action-button  btn-danger btn-sm" [routerLink]="['/home']">Cancel</button>
                        <button label="Edit" pButton class="btn-add ml-2 mr-2"></button>
                        <button (click)="saveTenant()" pButton type="button" label="{{ 'save' | translate }}"
                        class="btn-add"></button>
                    </div>
                    <app-component-logger-form [storeItem]="null" [formValue]="formReady">
                    </app-component-logger-form>

                </div>
                <div class="ui-g-12" [formGroup]="formReady">
                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <div class="ui-g-12 border-line text-center">
                                <h6>TENANT</h6>
                            </div>
                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid p-0">
                                <div class="ui-g-12">
                                    <div class="ui-g-12">
                                        <div class="ui-g-4">
                                            <label>Tenant Name</label>
                                        </div>
                                        <div class="ui-g-7 border-line">
                                            <input class="input-text-style" type="text" size="30"
                                                formControlName="tenantName" (keyup)="onKeyUp($event)"
                                                placeholder="Input Tenant Name" pattern="[a-zA-Z0-9 ]*" />
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-g-4">
                                            <label>Tenant Email</label>
                                        </div>
                                        <div class="ui-g-7 border-line">
                                            <input type="text" class="custom-input-text" formControlName="email"
                                                placeholder="Input Tenant Email" pattern="[a-zA-Z0-9 ]*" />
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g-6">
                                        <div class="ui-g-4">
                                            <label>From</label>
                                        </div>
                                        <div class="ui-g-7">
                                            <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true"
                                                readonlyInput="true" formControlName="startDate"
                                                class="border-none pad-4" yearRange="{{ '' | primeYearRange }}">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="ui-g-6">
                                        <div class="ui-g-4">
                                            <label>To</label>
                                        </div>
                                        <div class="ui-g-7">
                                            <p-calendar [monthNavigator]="true" appendTo="body" [yearNavigator]="true"
                                                readonlyInput="true" formControlName="endDate" class="border-none pad-4"
                                                yearRange="{{ '' | primeYearRange }}">
                                            </p-calendar>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g-2" style="margin-left: 7px;">
                                        <label>Paket</label>
                                    </div>

                                    <div class="ui-g-9 border-line">

                                        <p-tabView [activeIndex]="index">
                                            <p-tabPanel header=" Web" style="border: 1px solid transparent;">
                                                <div class="ui-g-12">
                                                    <div class="ui-g-6 " *ngFor="let pilihan of categoriesWeb">
                                                        <p-radioButton name="groupname" value={{pilihan.id}}
                                                            (onClick)="onClickWeb(pilihan.id || pilihan.key)" [formControl]="formReady.controls['modules']" [label]="pilihan.name">
                                                        </p-radioButton>
                                                    </div>
                                                    <!-- <div class="ui-g-6">
                                                        <p-radioButton name="city"
                                                            [(ngModel)] ="valueWeb"></p-radioButton>
                                                        <label for="city4">Costum</label>

                                                    </div> -->
                                                </div>

                                            </p-tabPanel>
                                            <p-tabPanel header="Web Ess" style="border: 1px solid transparent;">
                                                <ng-template pTemplate="content">
                                                    <div class="ui-g-12">
                                                        <div class="ui-g-6">
                                                            <div class="" *ngFor="let pilihan of categoriesWebEss">
                                                                <p-radioButton name="groupname" value={{pilihan.id}}
                                                            (onClick)="onClickWebEss(pilihan.id || pilihan.key)" [formControl]="formReady.controls['modules']" [label]="pilihan.name">
                                                        </p-radioButton>

                                                            </div>
                                                        </div>
                                                        <div class="ui-g-6">
                                                            <div class="" *ngFor="let pilihan of categoriesMobileEss">
                                                                <p-radioButton name="groupname" value={{pilihan.id}}
                                                            (onClick)="onClickMobileEss(pilihan.id || pilihan.key)" [formControl]="formReady.controls['modules']" [label]="pilihan.name">
                                                        </p-radioButton>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </p-tabPanel>
                                        </p-tabView>
                                    </div>

                                </div>

                                <div class="ui-g-12" *ngIf="valueWeb == 'Costum'">
                                    <div class="ui-g-2" style="margin-left: 7px;">
                                    </div>
                                    <div class="ui-g-9 ">
                                        <div class="ui-g-3 " *ngFor="let item of modules">
                                            <p-checkbox name="group1" value={{item.id}} label="{{item.name}}"
                                                [formControl]="formReady.controls['modules']" inputId="ny">
                                            </p-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12">
                            <div class="ui-g-12 border-line text-center">
                                <h6>COMPANY</h6>
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <button (click)="addCompany()" pButton type="button" label="{{ 'Add' | translate }}"
                                class="btn-add" style="float: right;"></button>
                        </div>
                        <p-tabView>
                            <p-tabPanel
                                *ngFor="let item of formReady['controls'].companies['controls']; let i = index;last as isFirst"
                                [selected]="isFirst" header="Company {{i+1}}">
                                <div class="ui-g-12">
                                    <i class="fa fa-close" (click)="removeCompany(i)" style="cursor: pointer;"></i>
                                </div>
                                <div formArrayName="companies">
                                    <ng-container [formGroupName]="i">
                                        <div formGroupName="company">
                                            <div class="ui-g-12">
                                                <div class="ui-g-4">
                                                    <label>Company Name</label>
                                                </div>
                                                <div class="ui-g-7 border-line">
                                                    <input type="text" class="custom-input-text" formControlName="name"
                                                        placeholder="Input Company Name" pattern="[a-zA-Z0-9 ]*" />
                                                </div>
                                            </div>
                                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid p-0">
                                                <div class="ui-g-12">
                                                    <div class="ui-g-4">
                                                        <label>Tax Number</label>
                                                    </div>
                                                    <div class="ui-g-7 border-line">
                                                        <p-inputMask mask="99.999.999.9-999.999" class="bd-none"
                                                            [unmask]="true" formControlName="companyTaxNumber"
                                                            placeholder="Input Company Tax Number">
                                                        </p-inputMask>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid p-0">
                                                <div class="ui-g-12" *ngFor="let url of uri; let j=index">
                                                    <div class="ui-g-4">
                                                        <label>{{url?.label}}</label>
                                                    </div>
                                                    <div class="ui-g-7 border-line">
                                                        <lov-core [value]="formReady.value.companies[i].lovGnty[j].id"
                                                            line="none" (selected)="onSelectRef1($event,i,j)"
                                                            [withLabel]="false" [style]="{ width: '100%' }"
                                                            [required]="true" [uri]="url.url"
                                                            label=" Select {{ url?.label }}">
                                                        </lov-core>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<style scoped>
    .action-button {
        border-radius: 10px;
    }
</style>