<div class="ui-g">
    <div class="ui-g-12">
        <div class="justify-content-center">
            <h3>
                404
                <small class="text-muted">Oops! Looks like you got lost.</small>
            </h3>
            <p>
                Sorry, an error has occured, Requested page not found!
            </p>
            <a (click)="onReturnHome()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home
            </a>
        </div>
    </div>
</div>
