<style>
    p {
        text-align: center;
    }

    .detail {
        font-size: 1rem;
    }
</style>
<div class="col-lg-8 col-md-6 col-sm-6 p-0 mx-auto">
    <div class="ui-grid-row">
        <h1 style="text-align: center;">Find the Best Job Opportunities</h1>
    </div>
    <div class="ui-grid-row">
        <p>#1 Career Website in Indonesia</p>
    </div>
    <div class="ui-grid-row">
        <p style="font-size: 20px;">Discover jobs and build your dream career with LinovHR</p>
    </div>
    <div class="ui-grid-row mx-auto" align="center" style="height: 15vh;">
        <form (ngSubmit)="search()">
            <input pInputText type="text" placeholder="Search for Job Vacancy Title, Company or Location" style="width: 40vw;">
            <button pButton type="submit" icon="pi pi-search" label="&nbsp; Search"></button>
        </form>
    </div>
    <div class="ui-grid-row" style="height: 10vh;">
        <h3 style="text-align: center;">Explore LinovHR</h3>
    </div>
    <div class="row" align="center" style="font-size: 2.5em; height: 20vh">
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="pi pi-desktop"></i>
                <br><p class="detail">IT & Software</p>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="fa fa-bullhorn"></i>
                <br><p class="detail">Sales & Marketing</p>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="pi pi-images"></i>
                <br><p class="detail">Media & Creatives</p>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="pi pi-users"></i>
                <br><p class="detail">Human Resources</p>
            </a>
        </div>
    </div>
    <div class="row" align="center" style="font-size: 2.5em;">
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="fa fa-cogs"></i>
                <br><p class="detail">Administration & Coordination</p>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="fa fa-wrench"></i>
                <br><p class="detail">General Services</p>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="fa fa-building"></i>
                <br><p class="detail">Management & Consultancy</p>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="home/job-vacancy-nonuser" style="color: black;">
                <i class="fa fa-balance-scale"></i>
                <br><p class="detail">Accounting & Finance</p>
            </a>
        </div>
    </div>
</div>
