<style>
    p {
        text-align: center;
    }

    .detail {
        font-size: 1rem;
    }
</style>


<div class="ui-g-12 mt-4">
    <div class="container">
        <p-tabView>
            <p-tabPanel header="Tenant Management">
                <app-search (search)='onTypeSearch($event)' isActive=true></app-search>
                <div>

                    <p-table 
                        [value]="tenants" 
                        [(selection)]="selectedTenantTypes" 
                        dataKey="code" 
                        selectionMode="single" 
                        [paginator]="true" 
                        [rows]="10" 
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                        [rowsPerPageOptions]="[10,25,50]" 
                        dataKey="id"
                        (onRowSelect)="arrow($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <th>Code</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tenant>
                            <tr [pSelectableRow]="tenant">
                                <td>{{tenant.id}}</td>
                                <td>{{tenant.name}}</td>
                                <td>{{tenant.code}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </p-tabPanel>

        </p-tabView>

    </div>
</div>