<p-card header="{{ 'Organization Experience' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    Karang Taruna
                </p-header>
                <div class="ui-grid-row my-0">
                    Role : Leader
                </div>
                <div class="ui-grid-row my-0">
                    30-Mar-2012 to 29-Mar-2013
                </div>
                <div class="ui-grid-row my-0" style="font-weight: bold;">
                    Description :
                </div>
                <div class="ui-grid-row my-0">
                    <li>Lead the organization for various events and ensuring a harmony between members</li>
                </div>
            </p-card>
        </div>
    </div>
</p-card>