<div class="ui-helper-clearfix">
    <div class="ui-helper-clearfix">
        <div class="ui-g mb-3">
            <div class="ui-g-12 p-0">
                <div class="ui-g-8">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid p-0">
                        <div class="ui-g-2 mx-3" style="font-size: 0.75rem;">
                            <div class="row mb-2">
                                <img src="assets/avatar.png">
                            </div>
                            <div class="row my-0">
                                <a href="">
                                    <i class="fa fa-linkedin"></i>Import from LinkedIn
                                </a>
                            </div>
                            <div class="row my-0">
                                <a href="">
                                    <i class="fa fa-download" style="margin-right: auto;"></i>Download Profile PDF
                                </a>
                            </div>
                        </div>
                        <div class="ui-g-7 mx-3" style="font-size: 0.75rem;">
                            <div class="row my-0">
                                <p>John Doe</p>
                            </div>
                            <div class="ui-g-6">
                                <div class="row my-0">
                                    <i class="fa fa-user mr-2" style="margin-right: 0.5vw;"></i>
                                    <p>20200230001</p>
                                </div>
                                <div class="row my-0">
                                    <i class="fa fa-envelope mr-2" style="margin-right: 0.5vw;"></i>
                                    <p>john.doe@gmail.com</p>
                                </div>
                                <div class="row my-0">
                                    <i class="fa fa-phone mr-2" style="margin-right: 0.5vw;"></i>
                                    <p>022-33132341</p>
                                </div>
                            </div>
                            <div class="ui-g-6">
                                <div class="row my-0">
                                    <i class="fa fa-tint" style="margin-right: 0.5vw;"></i>
                                    <p>A</p>
                                </div>
                                <div class="row my-0">
                                    <i class="fa fa-birthday-cake" style="margin-right: 0.5vw;"></i>
                                    <p>23-JUN-1988</p>
                                </div>
                                <div class="row my-0">
                                    <i class="fa fa-transgender" style="margin-right: 0.5vw;"></i>
                                    <p>Male</p>
                                </div>
                            </div> 
                            <div class="row my-0" style="height: 1rem">
                                <i class="fa fa-map-marker mr-2"></i>
                                <p>Wisma Staco, 5th Floor Casablanca Street, Kav. 18 12870, Jakarta Selatan</p>
                            </div>
                            <div class="row  my-0">
                                <p>Salary Expectations : IDR 6,000,000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-4" style="font-size: 0.75rem;">
                    <div class="ui-g-6">
                        <div class="ui-grid-row my-1">
                            <p-chart type="doughnut" [options]="options" [data]="completion" width="10rem" height="10rem"></p-chart>
                        </div>
                        <div class="ui-grid-row my-0 mx-auto" style="text-align: center;">
                            <h5>Completion</h5>
                        </div>
                        <div class="ui-grid-row my-0" style="text-align: center;">
                            <h5>{{isDone}}%</h5>
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="p-0" *ngFor="let complete of completed">
                            <div class="ui-grid-col-1" *ngIf="complete.done; else notDone">
                                <i class="fa fa-check"></i>
                            </div>
                            <ng-template #notDone> 
                                <div class="ui-grid-col-1">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </ng-template>
                            <div class="ui-grid-col-11">
                                {{complete.segment}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <!-- Basic Information -->
        <app-my-profile-basic-information></app-my-profile-basic-information>

        <!-- Family Members -->
        <app-my-profile-family-members></app-my-profile-family-members>

        <!-- Address -->
        <app-my-profile-address-information></app-my-profile-address-information>

        <!-- Education -->
        <app-my-profile-education></app-my-profile-education>

        <!-- Skills -->
        <app-my-profile-skills></app-my-profile-skills>

        <!-- Languages -->
        <app-my-profile-languages></app-my-profile-languages>

        <!-- Working Experience -->
        <app-my-profile-working-experience></app-my-profile-working-experience>

        <!-- Project Experience -->
        <app-my-profile-project-experience></app-my-profile-project-experience>

        <!-- Organization Experience -->
        <app-my-profile-organization-experience></app-my-profile-organization-experience>

        <!-- Training -->
        <app-my-profile-training></app-my-profile-training>

        <!-- Documents -->
        <app-my-profile-documents></app-my-profile-documents>

        <!-- Reference -->
        <app-my-profile-reference></app-my-profile-reference>

    </div>
</div>