<!-- <div class="section-body mt-3"> -->
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-12">
            <small>maximum 10 job alert can be saved</small>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover table-striped table-vcenter mb-0">
                <tbody>
                  <tr>
                    <td colspan="8"><a href="./job-vacancy" class="detail-alert"><u>Programmer (5 new)</u></a><br><small>Jakarta, Indonesia<br><i class="far fa-clock"></i>&nbsp;Weekly via email and notification</small></td>
                    <td colspan="2" style="text-align: right;">
                      <button class="btn" (click)="showDialog()"><i class="fas fa-pencil-alt"></i>&nbsp; EDIT</button>
                      &nbsp;&nbsp;
                    <!-- </td>
                    <td colspan="1" style="text-align: center;"> -->
                      <button class="btn" (click)="showDialog2()"><i class="fas fa-trash-alt"></i>&nbsp; DELETE</button>
                    </td>
                  </tr>
                <tr>
                  <td colspan="8"><a href="./job-vacancy" class="detail-alert"><u>Developer (97 new)</u></a><br><small>Jakarta, Indonesia<br><i class="far fa-clock"></i>&nbsp;Weekly via email and notification</small></td>
                  <td colspan="2" style="text-align: right;">
                    <button class="btn" (click)="showDialog()"><i class="fas fa-pencil-alt"></i>&nbsp; EDIT</button>
                    &nbsp;&nbsp;
                    <!-- </td>
                  <td colspan="1" style="text-align: center;"> -->
                    <button class="btn" (click)="showDialog2()"><i class="fas fa-trash-alt"></i>&nbsp; DELETE</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="8"><a href="./job-vacancy" class="detail-alert"><u>Manager (23 new)</u></a><br><small>Jakarta, Indonesia<br><i class="far fa-clock"></i>&nbsp;Weekly via email</small></td>
                  <td colspan="2" style="text-align: right;">
                    <button class="btn" (click)="showDialog()"><i class="fas fa-pencil-alt"></i>&nbsp; EDIT</button>
                    &nbsp;&nbsp;
                    <!-- </td>
                  <td colspan="1" style="text-align: center;"> -->
                    <button class="btn" (click)="showDialog2()"><i class="fas fa-trash-alt"></i>&nbsp; DELETE</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="8"><a href="./job-vacancy" class="detail-alert"><u>Analyst (15 new)</u></a><br><small>Jakarta, Indonesia<br>Jakarta, Indonesia<br><i class="far fa-clock"></i>&nbsp;Weekly via notification</small></td>
                  <td colspan="2" style="text-align: right;">
                    <button class="btn" (click)="showDialog()"><i class="fas fa-pencil-alt"></i>&nbsp; EDIT</button>
                    &nbsp;&nbsp;
                    <!-- </td>
                  <td colspan="1" style="text-align: center;"> -->
                    <button class="btn" (click)="showDialog2()"><i class="fas fa-trash-alt"></i>&nbsp; DELETE</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"><small><b>Get job recommendations</b></small>
                    <br><small>Get job recommendations based on your profile, interests and activity</small>
                    <br>
                      <span>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                      </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- </div> -->
<!-- </div> -->

<p-dialog header="Manage Job Alert" [(visible)]="display" [style]="{width: '40vw'}" [baseZIndex]="10000">
  <div>
    <small> <b>Programmer </b><br> Jakarta, Indonesia</small><br>
  </div>     
  <div>
    <small><br>Frequency<br></small>
    <input type="radio" name="groupname" ng-disabled="all" checked>&nbsp;<small>Daily</small><br>
    <input type="radio" name="groupname" ng-disabled="all">&nbsp;<small>Weekly</small><br>
    <input type="radio" name="groupname" ng-disabled="all">&nbsp;<small>Monthly</small><br>
    <!-- <p-radioButton name="groupname" label="Daily" [(ngModel)]="selectedValueFreq"></p-radioButton><br>
    <p-radioButton name="groupname" label="Weekly" [(ngModel)]="selectedValueFreq"></p-radioButton><br>
    <p-radioButton name="groupname" label="Monthly" [(ngModel)]="selectedValueFreq"></p-radioButton><br> -->
  </div>
  <div>
    <small><br>Get notified via<br></small>
    <input type="radio" name="groupname2" ng-disabled="all" checked>&nbsp;<small>Email and Notification</small><br>
    <input type="radio" name="groupname2" ng-disabled="all">&nbsp;<small>Email</small><br>
    <input type="radio" name="groupname2" ng-disabled="all">&nbsp;<small>Notification</small>
    <!-- <p-radioButton name="groupname2" label="Email and Notification" [(ngModel)]="selectedValueNotif"></p-radioButton><br>
    <p-radioButton name="groupname2" label="Email" [(ngModel)]="selectedValueNotif"></p-radioButton><br>
    <p-radioButton name="groupname2" label="Notification" [(ngModel)]="selectedValueNotif"></p-radioButton> -->
  </div>
  <p-footer>
    <button class="btn" (click)="display=false"><i class="fas fa-undo"></i>&nbsp;CANCEL</button>
    <button class="btn" (click)="display=false"><i class="fas fa-save"></i>&nbsp;SAVE</button>
    <!-- <button type="button" pButton icon="pi pi-undo" (click)="display=false" label="CANCEL" class="confirm-btn" ></button>  
    <button type="button" pButton icon="pi pi-save" (click)="display=false" label="SAVE" class="confirm-btn"></button>  -->
  </p-footer>
</p-dialog>

<p-dialog header="Delete Job Alert" [(visible)]="display2" [style]="{width: '25vw'}" [baseZIndex]="10000">
  <div>
    <span>You are about to delete the job alert for <strong>Programmer, Jakarta, Indonesia</strong> <br> This cannot be undone</span><br>
  </div>     
  <p-footer>
    <button class="btn" (click)="display2=false"><i class="fas fa-undo"></i>&nbsp;CANCEL</button>
    <button class="btn" (click)="display2=false"><i class="fas fa-trash-alt"></i>&nbsp;DELETE</button>
    <!-- <button type="button" pButton icon="pi pi-undo" (click)="display=false" label="CANCEL" class="ui-button-secondary"></button>  
    <button type="button" pButton icon="pi pi-trash" (click)="display=false" label="WITHDRAW"></button>  -->
  </p-footer>
</p-dialog>

<!-- <p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog> -->
<p-messages [value]="msgs"></p-messages>