  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-12">
          <span><small>1-7 of 7 job vacancy</small></span>
          <span style="float:right;">
            <span style="color: rgb(37, 241, 48);">
                <a><small>Applied Date&nbsp;</small><i class="fa fa-sort-amount-asc"></i></a>
            </span>
            <span>
                <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Alphabet&nbsp;</small> <i class="fa fa-sort-alpha-asc"></i></a>
            </span>
            <span>
                <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Salary&nbsp;</small>  <i class="fa fa-sort-amount-asc"></i></a>
            </span>
            <span>
                <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Expiry Date&nbsp;</small> <i class="fa fa-sort-amount-asc"></i></a>
            </span>
            <span>
                <a>&nbsp;&nbsp;&nbsp;&nbsp;<small>Posting Date&nbsp; </small> <i class="fa fa-sort-amount-asc"></i></a>
            </span> 
            <span style="font-size: x-large;">
              <a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-bars"></i></a>
            </span> 
            <span style="font-size: x-large;">
              <a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-th-list"></i></a>
          </span> 
    </span>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-vcenter mb-0">
              <tbody>
                <tr>
                  <td colspan="8">
                    <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                    <br><span><small>PT Lawencon International</small></span>
                    <br><span><small>Jakarta, Indonesia</small></span>
                    <br><span><small> IDR 5,000,000-10,000,000</small></span>
                </td>
                  <td colspan="2" style="text-align: right;">
                    <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                    &nbsp;&nbsp;
                    <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                    <!-- <input onclick="this.value='APPLIED'" type="button" value="Open Curtain" id="myButton1" /> -->
                    <!-- <i class="fas fa-check"></i><input class="btn" type="button" value="APPLY" (click)="change(this)"/> -->
                    <!-- <button class="btn" id="btnApply"><i class="fas fa-check"></i>&nbsp;APPLY</button> -->
                  </td>
                </tr>
              <tr>
                <td colspan="8">
                  <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                  <br><span><small>PT Lawencon International</small></span>
                  <br><span><small>Jakarta, Indonesia</small></span>
                  <br><span><small> IDR 5,000,000-10,000,000</small></span>
              </td>
                <td colspan="2" style="text-align: right;">
                  <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                  &nbsp;&nbsp;
                  <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                  <br><span><small>PT Lawencon International</small></span>
                  <br><span><small>Jakarta, Indonesia</small></span>
                  <br><span><small> IDR 5,000,000-10,000,000</small></span>
              </td>
                <td colspan="2" style="text-align: right;">
                  <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                  &nbsp;&nbsp;
                  <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                  <br><span><small>PT Lawencon International</small></span>
                  <br><span><small>Jakarta, Indonesia</small></span>
                  <br><span><small> IDR 5,000,000-10,000,000</small></span>
              </td>
                <td colspan="2" style="text-align: right;">
                  <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                  &nbsp;&nbsp;
                  <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                  <br><span><small>PT Lawencon International</small></span>
                  <br><span><small>Jakarta, Indonesia</small></span>
                  <br><span><small> IDR 5,000,000-10,000,000</small></span>
              </td>
                <td colspan="2" style="text-align: right;">
                  <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                  &nbsp;&nbsp;
                  <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                  <br><span><small>PT Lawencon International</small></span>
                  <br><span><small>Jakarta, Indonesia</small></span>
                  <br><span><small> IDR 5,000,000-10,000,000</small></span>
              </td>
                <td colspan="2" style="text-align: right;">
                  <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                  &nbsp;&nbsp;
                  <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                  <br><span><small>PT Lawencon International</small></span>
                  <br><span><small>Jakarta, Indonesia</small></span>
                  <br><span><small> IDR 5,000,000-10,000,000</small></span>
              </td>
                <td colspan="2" style="text-align: right;">
                  <button class="btn" (click)="showDialog()"><i class="fas fa-heart"></i>&nbsp;SAVED</button>
                  &nbsp;&nbsp;
                  <button class="btn" (click)="showDialog2()"><i class="fas fa-check"></i>&nbsp;APPLY</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12" style="align-self: center;">
        <p-paginator [rows]="10" [totalRecords]="20" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
      </div>
    </div>
  </div>

<p-dialog header="Manage Job Alert" [(visible)]="display" [style]="{width: '40vw'}" [baseZIndex]="10000">
<div>
  <small> <b>Programmer </b><br> Jakarta, Indonesia</small><br>
</div>     
<div>
  <small><br>Frequency<br></small>
  <input type="radio" name="groupname" ng-disabled="all" checked>&nbsp;<small>Daily</small><br>
  <input type="radio" name="groupname" ng-disabled="all">&nbsp;<small>Weekly</small><br>
  <input type="radio" name="groupname" ng-disabled="all">&nbsp;<small>Monthly</small><br>
</div>
<div>
  <small><br>Get notified via<br></small>
  <input type="radio" name="groupname2" ng-disabled="all" checked>&nbsp;<small>Email and Notification</small><br>
  <input type="radio" name="groupname2" ng-disabled="all">&nbsp;<small>Email</small><br>
  <input type="radio" name="groupname2" ng-disabled="all">&nbsp;<small>Notification</small>
 </div>
<p-footer>
  <button class="btn" (click)="display=false"><i class="fas fa-undo"></i>&nbsp;CANCEL</button>
  <button class="btn" (click)="display=false"><i class="fas fa-save"></i>&nbsp;SAVE</button>
 </p-footer>
</p-dialog>

<p-dialog header="Delete Job Alert" [(visible)]="display2" [style]="{width: '25vw'}" [baseZIndex]="10000">
<div>
  <span>You are about to delete the job alert for <strong>Programmer, Jakarta, Indonesia</strong> <br> This cannot be undone</span><br>
</div>     
<p-footer>
  <button class="btn" (click)="display2=false"><i class="fas fa-undo"></i>&nbsp;CANCEL</button>
  <button class="btn" (click)="display2=false"><i class="fas fa-trash-alt"></i>&nbsp;DELETE</button>
 </p-footer>
</p-dialog>

<p-messages [value]="msgs"></p-messages>