<p-card header="{{ 'Address Information' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    <div>
                        Home
                    </div>
                    <!-- <p-button type="button" class="m-2 pull-right" icon="pi pi-trash"></p-button>
                    <p-button type="button" class="m-2 pull-right" icon="pi pi-pencil"></p-button> -->
                </p-header>
                <div class="ui-grid-row my-0">
                    Jln. Kemanggisan No.25A, Kebon Lawas
                </div>
                <div class="ui-grid-row my-0">
                    Jakarta Barat, DKI Jakarta
                </div>
                <div class="ui-grid-row my-0">
                    Indonesia, 11560
                </div>
            </p-card>
            <p-card class="border-title ui-grid-row mt-1">
                <p-header class="header-title-card" style="font-size: medium;">
                    <div>
                        Office
                    </div>
                    <!-- <p-button type="button" class="m-2 pull-right" styleClass="ui-button-danger" icon="pi pi-trash"></p-button>
                    <p-button type="button" class="m-2 pull-right" styleClass="ui-button-warning" icon="pi pi-pencil"></p-button> -->
                </p-header>
                <div class="ui-grid-row my-0">
                    Wisma Staco, 5th Floor Casablanca Street, Kav 18
                </div>
                <div class="ui-grid-row my-0">
                    Jakarta Selatan, DKI Jakarta
                </div>
                <div class="ui-grid-row my-0">
                    Indonesia, 12870
                </div>
            </p-card>
        </div>
    </div>
</p-card>
