<p-card header="{{ 'Address Information' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addAddresInf()"></p-button>
    </p-header>
    <div class="ui-g" *ngFor="let data of addressData">
        <div class="ui-g-12 p-0">
        <p-card class="border-title ui-grid-row mt-1">
            <p-header class="header-title-card" style="font-size: medium;">
                {{ data.addName }}
                <p-button type="button" class="m-2 pull-right" styleClass="ui-button-secondary" icon="pi pi-pencil" (click)="edit(data)"></p-button>
                <p-button type="button" class="m-2 pull-right" styleClass="ui-button-secondary" icon="pi pi-trash" (click)="delete(data)"></p-button>
            </p-header>
            <div class="ui-grid-row my-0">
                {{data.addLine1}}
            </div>
            <div class="ui-grid-row my-0">
                {{data.addLine2}}
            </div>
            <div class="ui-grid-row my-0">
                {{data.city}}, {{data.state}}
            </div>
                        <!-- <div class="ui-grid-row my-0" style="font-size: small;">
                            {{data.state}}
                        </div> -->
            <div class="ui-grid-row my-0">
                {{data.country}}, {{data.postalCode}}
            </div>
                        <!-- <div class="ui-grid-row my-0" style="font-size: small;">
                            {{data.postalCode}}
                        </div> -->
        </p-card>
        </div>
        <div>
        </div>
    
    </div>
</p-card>

<p-dialog [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '600px'}">
    <div class="p-grid ui-fluid" *ngIf="addresData">
        <div class="p-col-4">
            <label >Addres Name</label>
        </div>
        <div class="p-col-8">
            <input pInputText [(ngModel)]="addresData.addName"/>
        </div>
        <div class="p-col-4">
            <label>Addres Line 1</label>
        </div>
        <div class="p-col-8">
            <input pInputText  [(ngModel)]="addresData.addLine1" />
        </div>
        <div class="p-col-4">
            <label >Addres Line 2</label>
        </div>
        <div class="p-col-8">
            <input pInputText [(ngModel)]="addresData.addLine2" />
        </div>
        <div class="p-col-4">
            <label>Country</label>
        </div>
        <div class="p-col-8">
            <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown> -->
            <!-- <p>Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p> -->
            <input pInputText [(ngModel)]="addresData.country" />
        </div>
        <div class="p-col-4">
            <label>State</label>
        </div>
        <div class="p-col-8">
            <input pInputText [(ngModel)]="addresData.state" />
        </div>
        <div class="p-col-4">
            <label>City</label>
        </div>
        <div class="p-col-8">
            <input pInputText [(ngModel)]="addresData.city" />
        </div>
        <div class="p-col-4">
            <label>Postal Code</label>
        </div>
        <div class="p-col-8">
            <input pInputText [(ngModel)]="addresData.postalCode" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>