<ul *ngFor="let menu of modules" class="list-group">

    <div style="position: absolute;bottom: 12%;left: 0;right: 0;">
        <a (click)="onToggleActive()" [ngClass]="{ 'active': isActive === true }" data-toggle="sidebar-colapse"
            class="bg-white list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span [ngClass]="{
                        'fa-angle-double-left': isActive == true,
                        'fa-angle-double-right': isActive == false
                    }" id="collapse-icon" class="fa fa-1x mr-3 fa-angle-double-left"></span>
                <span id="collapse-text" class="menu-collapsed">{{ 'collapse' | translate }}</span>
            </div>
        </a>
    </div>

    <a [routerLink]="menu.path" (click)="menuClick(menu.path)" [ngClass]=" menu.border ? 'is-active' : ''"
        class="bg-white list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="{{ menu.icon }} fa-fw mr-3"></span>
            <span class="menu-collapsed">{{ menu.name }}</span>
            <span class="submenu-icon ml-auto"></span>
        </div>
    </a>

    <!-- Old Collapse -->
    <!--    <div style="position: absolute;bottom: 12%;left: 0;right: 0;">-->
    <!--        <a-->
    <!--            data-toggle="sidebar-colapse"-->
    <!--            class="bg-white list-group-item list-group-item-action d-flex align-items-center"-->
    <!--        >-->
    <!--            <div class="d-flex w-100 justify-content-start align-items-center">-->
    <!--                <span id="collapse-icon" class="fa fa-1x mr-3"></span>-->
    <!--                <span id="collapse-text" class="menu-collapsed">Collapse</span>-->
    <!--            </div>-->
    <!--        </a>-->
    <!--    </div>-->
    <!-- / Old Collapse -->

    <!-- New Collapse -->
    <!-- <div style="position: absolute;bottom: 12%;left: 0;right: 0;">
        <a (click)="onToggleActive()" [ngClass]="{ 'active': isActive === true }" data-toggle="sidebar-colapse"
            class="bg-white list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span [ngClass]="{
                        'fa-angle-double-left': isActive == true,
                        'fa-angle-double-right': isActive == false
                    }" id="collapse-icon" class="fa fa-1x mr-3 fa-angle-double-left"></span>
                <span id="collapse-text" class="menu-collapsed">{{ 'collapse' | translate }}</span>
            </div>
        </a>
    </div> -->
    <!-- / New Collapse -->
</ul>