
.nodeParent{
    margin-bottom:20px
}
.nodeChild{
    margin-left:20px;
    margin-bottom:20px
}
.nodeChildren{
    margin-left:20px;
}

.buttonHidden {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
h4{
    color: #0275D8;
    font-size: 20px;
    font-weight: 800;
	text-align: center;
}
hr{
    margin-bottom: 25px;
}
.form-control{
    background: #EFF0F7;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    border: none;
}
label{
    color: #5F5F5F;
    font-weight: bold;
}
