<!--TODO: insert navbar here-->
<nav class="navbar navbar-expand-lg navbar-light bg-white" style="top: 52px;border: solid 1px #2196f3;">
    <!--    TODO: insert button trigger here-->
    <!-- <button (click)="onSwitchMenu(true)" pButton type="button" icon="fas fa-th" label="All Module"
        class="t-all-modules-btn"></button> -->
    <a (click)="home.onMenuButtonClick($event)" href="#" class="menu-btn">
        <i class="fa fa-bars"></i>
    </a>
    <!--    TODO: insert favorite menu here-->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="far fa-star">Organization Structure</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <span class="far fa-star">Employee</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <span class="far fa-star">Role</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <span class="far fa-star">User</span>
                </a>
            </li>
        </ul>
    </div> -->
</nav>

<!--TODO: end of navbar here-->

<!--    TODO: insert mega menu here-->
<!-- <app-new-menu *ngIf="isOpen" (switchMenu)="onSwitchMenu($event)"></app-new-menu> -->