<p-card header="{{ 'Languages' }}" styleClass="ui-card--workforce mb-3" class="border-title">
    <p-header>
        <p-button type="button" class="m-2 pull-right" label="Add" icon="pi pi-plus" (click)="addLanguage()"></p-button>
    </p-header>
    <div class="ui-g">
        <div class="ui-g-12 p-0">
            <p-table [columns]="languageColumns" [value]="languages" [scrollable]="true"
                [style]="{ minWidth: '100%' }" selectionMode="single" [selection]="selectedLanguage" (onRowSelect)="onRowSelect($event)">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width: 250px" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let column of columns">
                            {{ column.label }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lang>
                    <tr [pSelectableRow]="lang">
                        <td>{{lang.language}}</td>
                        <td>{{lang.speaking}}</td>
                        <td>{{lang.writing}}</td>
                        <td>{{lang.listening}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td class="text-center" [attr.colspan]="9">
                            {{'No Records Found'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>

<p-dialog [(visible)]="displayDialog" header="Language Proficiency" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{
    width: '300px'}">
    <div class="p-grid ui-fluid" *ngIf="language">
        <div class="p-col-4 mb-2">
            <label for="name" class="mb-0">Language</label>
            <input pInputText id="name" [(ngModel)]="language.language" autofocus />
        </div>
        <div class="p-col-4 mb-2">
            <label for="year" class="mb-0">Speaking</label>
            <input pInputText id="year" [(ngModel)]="language.speaking" />
        </div>
        <div class="p-col-4 mb-2">
            <label for="gender" class="mb-0">Writing</label>
            <input pInputText id="gender" [(ngModel)]="language.writing" />
        </div>
        <div class="p-col-4 mb-2">
            <label for="dob" class="mb-0">Listening</label>
            <input pInputText id="dob" [(ngModel)]="language.listening" />
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="onDelete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>