<p-toast position="top-right"></p-toast>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (reset)="onRevert()" class="sign-in mx-auto">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid form-signin">
        <div class="ui-grid-row my-2">
            <div class="ui-grid-col-12">
                <h1 class="sub-title" style="font-size: 16px;">
                    Sign Up
                </h1>
            </div>
        </div>
        <!-- <div *ngIf="errorMsg && !username.value && !password.value" class="ui-grid-row">
            <div class="ui-grid-col-12">
                <h1 *ngIf="errorMsg" class="error-msg">
                    {{ errorMsg }}
                </h1>
            </div>
        </div> -->
        <div *ngIf="name.invalid && name.dirty" class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-message *ngIf="name.errors['required']" severity="error" text="Name is required"></p-message>
            </div>
        </div>
        <div *ngIf="email.invalid && email.dirty" class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-message *ngIf="email.errors['required']" severity="error" text="Email is required"></p-message>
            </div>
        </div>
        <div *ngIf="password.invalid && password.dirty" class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-message *ngIf="password.errors['required']" severity="error" text="Password is required"></p-message>
            </div>
        </div>
        <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12">
                <span>
                    <label>Name</label>
                    <input pInputText formControlName="name" type="text" autofocus />
                </span>
            </div>
        </div>
        <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12">
                <span>
                    <label>Email</label>
                    <input pInputText formControlName="email" type="text" autofocus />
                </span>
            </div>
        </div>
        <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12">
                <span>
                    <label>Password</label>
                    <input pInputText formControlName="password" type="password" />
                </span>
            </div>
        </div>
        <!-- <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12 recaptcha-container">
                <re-captcha formControlName="g-recaptcha-response"></re-captcha>
            </div>
        </div> -->
        <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <p-checkbox></p-checkbox>
                    </div>
                    &nbsp;&nbsp;
                    <div class="flex-grow-4">
                        I have read and I agree with LinovHR's 
                        <a href="">Terms and Conditions</a>,
                        <a href="">Privacy Policy</a>,
                        and <a href="">End User License Agreement</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-grid-row my-2">
            <div class="ui-g-12">
                <button [ladda]="isLoading" [disabled]="loginForm.invalid" type="submit"
                    class="btn btn-primary btn-sm btn-login" style="width: 100%;">
                    Sign Up
                </button>
            </div>
        </div>
        <div class="ui-grid-row my-3">
            <div class="ui-grid-col-12">
                <div class="ui-g-10">
                    Already have a LinovHR account? &nbsp;
                </div>
                <div class="ui-g-2">
                    <a href="home/login/">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</form>
