@import "global-variables"

.custom-divider
    margin-left: 20px
    margin-right: 20px
    margin-top: 10px
    border: 1px solid #e2e2e2
    height: 30px

.ui-panel-titlebar
    text-align: center
    font-size: larger

.ui-table
    .ui-table-thead > tr > th
        text-align: center

dt
    text-align: right

dd
    text-align: left

fieldset.upload-border
    border: 1px groove #ddd !important
    padding: 0 1.4em 1.4em 1.4em !important
    margin: 0 0 1.5em 0 !important
    -webkit-box-shadow: 0 0 0 0 #000
    box-shadow: 0 0 0 0 #000

legend.upload-border
    font-size: 1.2em !important
    font-weight: bold !important
    text-align: left !important
    width: auto
    padding: 0 10px
    border-bottom: none

.highlight
    background-color: rgba(86,61,124,0.15)
    border: 1px solid rgba(86,61,124,0.15)


/** Panel Section **/
body .ui-card--workforce
        .ui-panel-titlebar
            border: 0
            background-color: transparent
        .ui-panel-content
            border: 0
            background-color: transparent
            padding: 0.571em 0.6em


body .ui-dropdown .ui-dropdown-trigger
    background-color: blue

.search-label, .lov-label
    margin-top: 8px
    margin-right: 1em
